html{
background-color:#154360;
background: linear-gradient(
    rgba(11, 4, 80, 0.8),
    rgba(11, 4, 80, 0.8)
  ),url("./996212.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100vh;
/*overflow: hidden;*/
color:white;
}


.title{
  text-align: center;
  font-size: 210%;
}

#quote-box{
  width: 95%;
  border:2px solid #10787e;
  margin: 19% 0% 8% 1%;
  padding: 1%;
}

.fa-quote-left{
  font-size: 180%;
}

#text{
  font-size:190%;
  text-align: center;
}

#author{
  font-size: 120%;
  text-align: right;
}

#new-quote{
padding: 2%;
}

#tweet-quote, #copy-quote, #new-quote{
  font-size: 220%;
  padding: 0% 3% 0% 5%;
}

#tweet-quote{
  padding-left: 20%;
  text-decoration: none;
  color: #38A1F3;
}

#tweet-quote:visited{
  color: #38A1F3;
}

#copy-quote{
  color: #737E10;
  cursor: pointer;
}
#new-quote{
  color: #107E6E;
  cursor: pointer;
}


.credit{
  padding:5% 0% 0% 1%;
  font-style: italic;
  font-size: 90%;
  text-align: center;
}

.credit a {
  text-decoration: none;
  color: #10787e;
}

.credit a:visited{
  color: #10787e;
}

#copyText{
  opacity: .01;
  height:0;
  position:absolute;
  z-index: -1;
}

.loading{
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes spin{
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@media screen and (min-width: 599px) {
  #quote-box{
    width: 85%;
    margin: 15% 0% 7% 7%;
  }

  .title{
    font-size: 250%;
  }

  .credit{
    font-size: 100%;
    padding:5% 0% 0% 1%;
  }
}

@media screen and (min-width: 765px) {
  #quote-box{
    width: 75%;
    margin: 13% 0% 6% 13%;
  }

  .title{
    font-size: 300%;
  }

  .credit{
    font-size: 120%;
    padding:5% 0% 0% 1%;
  }

  #text{
    font-size:210%;
  }

  #author{
    font-size: 130%;
  }
}

@media screen and (min-width: 1000px) {
  #quote-box{
    width: 65%;
    margin: 8% 0% 3% 18%;
  }
  .title{
    font-size: 350%;
  }

  .credit{
    font-size: 120%;
    padding:5% 0% 0% 1%;
  }
}

@media screen and (min-width: 1400px) {
  #quote-box{
    width: 55%;
    margin: 7% 0% 3% 23%;
  }

  .title{
    font-size: 500%;
  }

  .credit{
    padding:5% 0% 0% 1%;
  }

  #text{
    font-size:230%;
  }

  #author{
    font-size: 170%;

  }
}

@media screen and (min-width: 2200px) {
  #quote-box{
    width: 55%;
    margin: 5% 0% 3% 23%;
  }

  .title{
    font-size: 600%;
  }

  .credit{
    padding:5% 0% 0% 1%;
    font-size: 250%;
  }

  #text{
    font-size:400%;
  }

  #author{
    font-size:300%;

  }

  #tweet-quote, #copy-quote, #new-quote{
    font-size: 350%;
    padding: 0% 3% 0% 15%;
  }
}
